*{<meta charset="utf-8">}*
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Register to iTodo</title>
  <link rel="stylesheet" type="text/css" 
                       href="@{'/public/stylesheets/style_signup.css'}">
</head>
<body>
	<h1 class="register-title">Welcome to iTodo</h1>
  		<form class="register">
    		<input type="usename" class="register-input" placeholder="Your desired username">
    		<input type="email" class="register-input" placeholder="Email address">
    		<input type="password" class="register-input" placeholder="Password">
    		<input type="submit" value="Create Account" class="register-button">
  		</form>

  	<section class="about">
    	<p class="about-author">
      		&copy; 2012&ndash;2013 Thibaut Courouble - MIT License<br>
      		Original PSD by Orman Clark
      	</p>
  	</section>
</body>
</html>